* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */

.navbar-nav .btn {
    background-color: #e74c3c;
    color: white;
    border-radius: 0;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-top: -10px;
}

.navbar-nav .btn:hover {
    background-color: #0a3d62;
}

.carousel-item {
    height: 93vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item img {
    height: 93vh;
    min-height: 300px;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right : 0;
    background: #000;
    opacity: 0.7;

}


.slider-btn {
    margin-top: 30px;
}

.slider-btn .btn {
    background-color: #e74c3c;
    color: white;
    border-radius: 0;
    padding: 1.5% 3%;
    border-radius: 1vh;
    margin: 0 5px;
}


.slider-btn .btn-2 {
    color: #111010;
    background-color: white;
}

/* If the screen size is 401px wide or more, set the font-size of <div> to 80px */
@media (min-width:0px) and (max-width:399px) {
    .carousel-caption h5 {
        font-size: 9vw;
        font-weight: 700;
    }
    
    .carousel-caption p {
        font-size: 4vw;
        top: 2rem;
    }

    .slider-btn .btn {
        font-size: 3vw;
    }

    .carousel-caption {
        bottom: 180px;
    }
  }
  
  /* No less than 400px, no greater than 900px */
  @media (min-width:400px) and (max-width:768px) {
    .carousel-caption h5 {
        font-size: 10vw;
        font-weight: 700;
    }
    
    .carousel-caption p {
        font-size: 3vw;
        top: 2rem;
    }

    .slider-btn .btn {
        font-size: 3vw;
    }
    
    .carousel-caption {
        bottom: 180px;
    }
  }

  /* No less than 400px, no greater than 900px */
  @media (min-width:769px) and (max-width:1024px) {
    .carousel-caption h5 {
        font-size: 10vw;
        font-weight: 700;
    }
    
    .carousel-caption p {
        font-size: 3vw;
        top: 2rem;
    }

    .slider-btn .btn {
        font-size: 3vw;
    }

    .carousel-caption {
        bottom: 350px;
    }
  }

  @media screen and (min-width:1025px){
    .carousel-caption h5 {
        font-size: 4vw;
        font-weight: 700;
    }
    
    .carousel-caption p {
        font-size: 1vw;
        top: 2rem;
    }

    .slider-btn .btn {
        font-size: 1vw;
    }

    .carousel-caption {
        bottom: 280px;
    }
  }

